[mysqld]
default_authentication_plugin=mysql_native_password

slow_query_log = 0
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 0

# 코밋마다 업데이트된 데이터를 로그에 기록하고, 매초 로그를 플러시
innodb_flush_log_at_trx_commit = 2

# バイナリログを無効化する
disable-log-bin = 1
